
<head>
<link rel="stylesheet" href="assets/css/sidebar_resume.css">
</head>
<body>
<div class="sidenav">
  <div class="circular--portrait">
  #<img src="{{site.baseurl}}/assets/2.jpg" align="middle" style =" width: 250px; height: 250px; border-radius: 50%;"/>
   <img src="{{site.baseurl}}/assets/2.jpg" />

    <br><div class="Namdiv">
  {{ site.fullnameofperson }}
  </div>
  <br>
  <div class="Descdiv">
  {{ site.selfIdentification }}
  </div>
  <br>
  <a href="#education">Education</a><br>
  <a href="#employment">Employment</a><br>
  <a href="#skills">Skills</a><br>
  <a href="#publications">Publications</a><br>
  <a href="#projects">Projects</a><br>

  <ul>
    <li> <a href="https://scholar.google.com/citations?user=uEniMtkAAAAJ&hl=en" title="Google Scholar" class="no-mark-external" target="_blank"> <span class="icon-googlescholar"></span> <span aria-hidden="true">Google Scholar </span><span class="sr-only">Abir Saha's Google Scholar page</span></a></li>
    <li> <a href="https://twitter.com/abirsaha_" title="Twitter" class="no-mark-external" target="_blank"> <span class="icon-twitter"></span> <span aria-hidden="true">Twitter </span><span class="sr-only">Abir Saha's Twitter profile</span></a></li>
    <li> <a href="https://www.linkedin.com/in/abirsaha-" title="LinkedIn" class="no-mark-external" target="_blank"> <span class="icon-linkedin2"></span> <span aria-hidden="true">LinkedIn </span><span class="sr-only">Abir Saha's LinkedIn profile</span></a></li>
    <li> <a href="https://instagram.com/abiroutdoors" title="Instagram" class="no-mark-external" target="_blank"> <span class="icon-instagram"></span> <span aria-hidden="true">Instagram </span><span class="sr-only">Abir Saha's Instagram profile</span></a></li>
  </ul>

 
  
  </div>
</body>



