
<head>
<link rel="stylesheet" href="assets/css/sidebar_resume.css">
</head>
<body>
<div class="sidenav">
  <img src="{{site.baseurl}}/assets/2.jpg" style = "width:100%;">
  <br><div class="Namdiv">
  {{ site.fullnameofperson }}
  </div>
  <br>
  <div class="Descdiv">
  {{ site.selfIdentification }}
  </div>
  <br>
  <a href="#education">Education</a><br>
  <a href="#employment">Employment</a><br>
  <a href="#skills">Skills</a><br>
  <a href="#publications">Publications</a><br>
  <a href="#projects">Projects</a><br>

  <div class="sidenav">
  <ul>
    <li> <a href="https://scholar.google.co.uk/citations?hl=en&amp;user=?user=uEniMtkAAAAJ&hl=en&oi=ao;view_op=list_works&amp;sortby=pubdate" title="Google Scholar" class="no-mark-external" target="_blank"> <span class="icon-googlescholar"></span> <span aria-hidden="true">Google Scholar </span><span class="sr-only">Yana's Google Scholar page</span></a></li>
 <ul>

   </div>

</body>



