
<head>
<link rel="stylesheet" href="assets/css/sidebar_resume.css">
</head>
<body>
<div class="sidenav">
  <img src="{{site.baseurl}}/assets/2.jpg" class="circular--portrait"/>
  <br><div class="Namdiv">
  {{ site.fullnameofperson }}
  </div>
  <br>
  <div class="Descdiv">
  {{ site.selfIdentification }}
  </div>
  <br>
  <a href="#education">Education</a><br>
  <a href="#employment">Employment</a><br>
  <a href="#skills">Skills</a><br>
  <a href="#publications">Publications</a><br>
  <a href="#projects">Projects</a><br>
   
  
  
   <li>
    <i class='fas fa-envelope-open'>fa-envelope-open</i>
    <a class="contact-info u-email" href="mailto:{{ yasalchak }}">{{ yasalchak@gmail.com }}</a>
   </li>
  
  </div>
    <li> <a href="https://scholar.google.com.au/citations?user=uEniMtkAAAAJ&hl=en&oi=ao" title="Google Scholar" class="no-mark-external" target="_blank"> <span class="icon-googlescholar"></span> <span aria-hidden="true">Google Scholar </span><span class="sr-only"> Google Scholar page</span></a></li>
    <li> <a href="https://www.scopus.com/authid/detail.uri?origin=resultslist&authorId=56433608400&zone=">  <img src="/assets/Linkedin.svg">Scopus Profile</a></li>
    <li> <a href="https://researchgate.net/profile/Yana-Salchak-2">Research Gate</a></li>
    <li> <a href="https://researchgate.net/profile/Yana-Salchak-2"><i class="fab fa-facebook"></i></a></li>                
  </div>

</body>



